body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  background: #111827;
  padding: 20px;
}

header h1 {
  color: #38bdf8;
  margin: 0;
}

.hero {
  padding: 40px 20px;
}

button {
  padding: 12px 20px;
  background: #38bdf8;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

.products {
  padding: 30px;
}

.card {
  background-color:#2A3284;
  margin: 10px auto;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
}